@model List<Product>

@{
    ViewData["Title"] = localizer["The Stock"];
    var dir = Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
	var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<div class="body table-responsive">
	<div class="head">
        <h1>@localizer["Stock Data"]</h1>
    </div>
    
    <div class="head">
        <div class="button">
			<a asp-action="ShowOutsides" asp-route-factoryID="@ViewBag.FactoryID" class="btn-main btn-primaryy">@localizer["Delivered From Stock"]</a>
        </div>
        <div class="search">
            <div class="warp-input">
                <input class="input" id="filter" type="search" placeholder="@localizer["Search"]">
                <i class="fa-solid fa-magnifying-glass input-icon"></i>
            </div>
        </div>
    </div>

	<table class="table table-borderless" id="pageTable">
		<thead>
			<tr>
			<th>@localizer["Product Name"]</th>
			<th>@localizer["Entered Value For Day"]</th>
			<th>@localizer["Entered Value"]</th>
			<th>@localizer["Total Quantity In  Stock"]</th>
			<th>@localizer["Total Quantity Out Of Stock"]</th>
			<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					@if (dir == "rtl")
					{
						<td> @Html.DisplayFor(modelItem => item.Arabic_Name) </td>
					}
					else
					{
						<td> @Html.DisplayFor(modelItem => item.English_Name) </td>
					}
					<td><i class="far fa-calendar-alt" aria-hidden="true" style="color:#DCB926"></i> @Html.DisplayName(DateTime.Now.ToString("dd MMM yyyy"))</td>
					@if (@item.Inventory_INs.Where(p => p.IsDeleted != true).FirstOrDefault(x => x.DateTime.ToShortDateString() == DateTime.Now.ToShortDateString()) != null)
					{
						<td>@item.Inventory_INs.Where(p => p.IsDeleted != true).FirstOrDefault(x => x.DateTime.ToShortDateString() == DateTime.Now.ToShortDateString()).Quantity_Received @localizer["tun"]</td>
					}
					else
					{
						<td> 0 @localizer["tun"]</td>
					}
					<td> @item.Inventory_Total_Amount @localizer["tun"] </td>
					<td> @item.Out_Inventory_Total_Amount @localizer["tun"]</td>
					<td>
						<a asp-action="ShowInventoryData" asp-route-id="@item.ID" class="btn-main px-1">
							<i class="fa-solid fa-file-lines"></i>
						</a>

						<a class="btn-main px-1" data-bs-toggle="modal" data-bs-target="#Modalhead3_@item.ID">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>

						<div class="modal fade" id="Modalhead3_@item.ID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog  modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<form asp-action="AddToInsides" asp-route-returnUrl="@returnUrl" method="post">
										<div asp-validation-summary="ModelOnly" class="text-danger"></div>
										<div class="modal-body">
											<div class="form-group">
												<input type="hidden" name="ID" value="@item.ID" />
												<input type="hidden" name="Date" value=@DateTime.Now.ToString("yyyy-MM-dd") />
											</div>
											<img src="~/img/Process-bro.svg">
											<div class="warp-input">
												<label for="Quantity_Received" class="control-label">@localizer["Entered Value For Day"] @DateTime.Now.ToString("dd MMM yyyy") @localizer["By Tun"]</label>
												<input type="text" name="Quantity_Received" id="Quantity_Received" class="input numbers" placeholder="@localizer["Entered Value"]" required />
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn-popup btn-ignor" data-bs-dismiss="modal" data-bs-toggle="modal">@localizer["Close"]</button>
											<input type="submit" value=@localizer["Edit"] class="btn-popup btn-primaryy" data-bs-toggle="modal" data-bs-dismiss="modal">
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="modal fade" id="Modalhead5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
							<div class="modal-dialog  modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<img src="~/img/Icon-suscces.png">
										<h3>your Forcast added susccfully</h3>
									</div>
									<div class="modal-footer justify-content-center">
										<button type="button" class="btn-popup btn-ignor" data-bs-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>

						@if (item.Inventory_INs != null && item.Inventory_INs.Any(x => x.DateTime.ToShortDateString() == DateTime.Now.ToShortDateString() && x.IsDeleted != true))
						{
							<a class="btn-main px-1" data-bs-target="#Modaldetle_@item.ID" data-bs-toggle="modal"><i class="fa-solid fa-trash-can"></i></a>

							<div class="modal fade" id="Modaldetle_@item.ID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog  modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<img src="~/img/Icon-error.png">
											<h3>@localizer["Are you sure you want to remove the entered value to stock for this day?"]</h3>
										</div>
										<form asp-action="DeleteFromInside" asp-route-id="@item.Inventory_INs.FirstOrDefault(x => x.DateTime.ToShortDateString() == DateTime.Now.ToShortDateString() && x.IsDeleted != true).ID" asp-route-returnUrl="@returnUrl">
											<div class="modal-footer">
												<input type="submit" value="@localizer["Yes"]" class="btn-popup btn-danger" data-bs-dismiss="modal" data-bs-target="#Modaldelete5">
												<button type="button" class="btn-popup btn-ignor" data-bs-dismiss="modal" data-bs-toggle="modal">@localizer["Cancel"]</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						}
                    </td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/js/datatable_file.js"></script>
}
