@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = localizer["All Roles"];
    var dir = Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<div class="body table-responsive">
    @if (dir == "ltr")
    {
        <div class="head">
            <div class="back-section">
                <a asp-action="ListUsers" class="page-back-btn"><i class="fa-solid fa-left-long"></i></a>
            </div>
        </div>
    }
    else
    {
        <div class="head" style="flex-direction:row-reverse">
            <div class="back-section">
                <a asp-action="ListUsers" class="page-back-btn"><i class="fa-solid fa-left-long"></i></a>
            </div>
        </div>
    }

    <div class="head">
        <div class="button"><h1>@localizer["All Roles"]</h1></div>

        <div class="search">
            <div class="warp-input">
                <input class="input" id="filter" type="search" placeholder="@localizer["Search"]">
                <i class="fa-solid fa-magnifying-glass input-icon"></i>
            </div>
        </div>
    </div>
    <table class="table" id="pageTable">
        <thead>
            <tr>
                <th>
                    @localizer["Role Name"]
                </th>
                <th class="text-center">
                    <a asp-action="CreateRole" asp-controller="administration"> @localizer["Add Role"] <i class="fa-solid fa-plus-square"></i> </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-controller="Administration" asp-action="EditRole" asp-route-Id=@item.Id class="btn-main px-1"> <i class="fa-solid fa-pen-to-square"></i> </a>
                        
                        <a data-bs-target="#Modaldetle_@item.Id" data-bs-toggle="modal"><i class="fa-solid fa-trash-can"></i></a>

                        <div class="modal fade" id="Modaldetle_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog  modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="~/img/Icon-error.png">
                                        <h3>@localizer["Are you sure you want to delete this role permanently?"]</h3>
                                    </div>
                                    <form asp-action="DeleteRole" asp-controller="Administration">
                                        <input type="hidden" name="Id" value="@item.Id" />
                                        <div class="modal-footer">
                                            <input type="submit" value="@localizer["Yes"]" class="btn-popup btn-danger" data-bs-dismiss="modal" data-bs-target="#Modaldelete5">
                                            <button type="button" class="btn-popup btn-ignor" data-bs-dismiss="modal" data-bs-toggle="modal">@localizer["Cancel"]</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/datatable_file.js"></script>
}
